header('Content-Type: image/jpeg');
header('Content-Disposition: attachment; filename="'.htmlspecialchars($_GET['name']).'"');
header('Content-Length:'.filesize($file).'');
header('Cache-Control: no-cache');
header('Content-Transfer-Encoding: chunked');
readfile($file);